<section>
    <div class="wc-container wc-container-small content">
        <h2 class="wc-text-center">Warum Sie als Praxis oder Klinik mit uns kooperieren sollten?</h2>
        <ul class="list wc-m-top-2">
            <li>
                Sie erhalten kostenfreies Marketing über unsere Plattform
            </li>
            <li>
                Sie profitieren von der Patientenmobilitätsrichtlinie in der EU  
            </li>
            <li>
                Sie gewinnen Zeit, denn wir übernehmen ausführliche Gespräche mit den Patienten
            </li>
            <li>
                Patienten nutzen kostenfrei unsere Serviceleistungen für Ihre Kostenerstattung 
            </li>
            <li>
                Sie erhalten kostenfreie Patienten Neugewinnung
            </li>
        </ul>
    </div>
</section>
<section class="wc-bg-secondary-light">
    <div class="wc-container">
        <div class="wc-flex-container wc-flex-center">
            <div class="img-container rounded wc-m-auto">
                <img src="/img/empty-image.jpg" />
            </div>
            <h2 class="wc-text-center-mobile wc-color-white wc-responsie-m-2">“„Service heißt, das ganze Geschäft mit den Augen des Kunden zu sehen.“
                <br>
                – Axel Haitzer
            </h2>
        </div>
    </div>
</section>
<section>
    <div class="wc-container wc-container-small content">
        <h2 class="wc-text-center">Unsere Patienten wünschen sich</h2>
        <ul class="list wc-m-top-2">
            <li>
                Sie erhalten kostenfreies Marketing über unsere Plattform
            </li>
            <li>
                Sie profitieren von der Patientenmobilitätsrichtlinie in der EU  
            </li>
            <li>
                Sie gewinnen Zeit, denn wir übernehmen ausführliche Gespräche mit den Patienten
            </li>
            <li>
                Patienten nutzen kostenfrei unsere Serviceleistungen für Ihre Kostenerstattung 
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="wc-container wc-container-small">
        <h2 class="wc-text-center">Seien Sie unsere Empfehlung vor Ort!</h2>
        <a class="wc-btn secondary outlined wc-uppercase wc-m-auto wc-m-top-2" href="/contact-dentists">Jetzt Kontaktieren</a>
    </div>
</section>