<section class="contact-section">
    <div class="wc-container content">
        <h2>Kontaktformular</h2>
        <div class="wc-flex-container-desktop">
        <div class="contact-form-container">
            <div class="contact-form">
            <form novalidate>
                <div class="wc-flex-container wc-flex-between">
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="name">
                            Titel, Name, Vorname <span class="required">*</span>
                        </label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="praxis">
                            NAME d. PRAXIS / LABOR <span class="required">*</span>
                        </label>
                        <input type="text" id="praxis" name="praxis">
                    </div>
                </div>
                <div class="wc-flex-container wc-flex-between">
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="email">
                            Mailadresse <span class="required">*</span>
                        </label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="mobile-number">
                            Telefonnummer <span class="required">*</span>
                        </label>
                        <input type="text" id="mobile-number" name="mobile-number">
                    </div>
                </div>
                <div class="wc-flex-container wc-flex-between">
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="field">
                            Fachrichtung/en <span class="required">*</span>
                        </label>
                        <input type="text" id="field" name="field">
                    </div>
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="country">
                            Land <span class="required">*</span>
                        </label>
                        <div class="country-select-container">
                        <select class="country-select-input" id="country" name="country">
                            <option value="de">Deutschland</option>
                            <option value="au">Schweiz</option>
                            <option value="ch">Österreich</option>
                            <option value="international">Andere Länder</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="wc-flex-container wc-m-top-1">
                    <div class="wc-flex-1">
                        <label for="inquiry">
                            Nachricht <span class="required">*</span>
                        </label>
                        <textarea type="text" id="inquiry" name="inquiry"></textarea>
                    </div>
                </div>
                </form>
                <p class="wc-m-top-1">Mit <span class="required">*</span> gekennzeichnete Felder sind Pflichtfelder.</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="content-center">
    <div class="wc-container content">
        <h3>Ihre Nachricht ist unverbindlich und Ihre persönlichen Daten werden streng vertraulich behandelt. Wir schützen Ihre Privatsphäre: Datenschutzerklärung</h3>
        <div class="wc-flex-container wc-flex-center wc-flex-jfy-center">
        <a class="wc-btn primary" href="/">Nachricht absenden</a>
        </div>
    </div>
</section>