<section>
    <div class="wc-container wc-flex-container">
        <div class="wc-flex-1 wc-p-right-1">
            <h2 class="">Zahnärztin und<br> Gründerin von WHITE.</h2>
            <p class="wc-m-top-2">
                "Meine Patienten haben mich fast täglich nach günstigem Zahnersatz gefragt.",  so Frau Dr. Kruse. "Oder aber sie fragten nach der Qualität von Auslandszahnersatz, denn nicht jeder kann oder will sich deutschen Zahnersatz made in Germany leisten." Damit haben Ihre eigenen Kunden Dr. Christina Kruse auf die Geschäftsidee für WHITE gebracht.
            </p>
            <p class="wc-m-top-2">Partnerpraxen und -labore im Ausland suchte und fand Frau Dr. Kruse durch Besuche und Qualitäts-Analysegespräche mit ihren Kollegen vor Ort. </p>
            <p class="wc-m-top-2">Den meisten Menschen fehlt die Zeit & die Geduld, "... daher haben es meine Patienten zu schätzen gewusst, wenn wir uns im Rahmen eines kostenlosen Service auch um Versicherungen  Krankenkassen gekümmert haben." </p>
            <p class="wc-m-top-2">"Diese Teamarbeit über Grenzen hinweg ebnet den Weg zu einem neuen weissen Lächeln," so Dr. Kruse, „das war es auch was die Patienten schon in meiner eigenen Praxis überzeugt hat."</p>
        </div>
        <div class="wc-flex-1 wc-m-top-2-mobile">
            <h2 class="">Werdegang und Erfahrungen</h2>
            <div class="wc-timeline wc-m-top-2">
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2005 - 2007</span>
                    <span class="timeline-title">Staatsexamen in Zahn-, Mund-, Kieferheilkunde,  
                    Privaten Universität Witten/Herdecke, Witten, BRD</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2005 - 2007</span>
                    <span class="timeline-title">Staatsexamen in Zahn-, Mund-, Kieferheilkunde,  
                    Privaten Universität Witten/Herdecke, Witten, BRD</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2005 - 2007</span>
                    <span class="timeline-title">Staatsexamen in Zahn-, Mund-, Kieferheilkunde,  
                    Privaten Universität Witten/Herdecke, Witten, BRD</span>
                </div>
                <div class="wc-timeline-item">
                    <span class="timeline-year">2017</span>
                    <span class="timeline-title">Gründung von WHITE</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wc-container">
        <h2 class="wc-text-center ">Veröffentlichungen</h2>
        <div class="wc-columns wc-flex-wrap wc-m-top-2">
            <div class="wc-col wc-col-6-tablet">
                <a href="/" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <p>
                        “Ein neues Planungs- und Navigationssystem für die dentale Implantologie”, Weihe S., Franz E.P., Bonitz L., Hassfeld S., Kruse Ch. - DZW Orale Implantol. 03(2006);pp. 6-10
                    </p>
                    <div class="wc-flex wc-flex-center wc-m-top-2 wc-color-primary">
                        <span>Hier Downloaden</span>
                        <img class="wc-m-left-1-2 arrow-icon wc-color-primary" src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>
            <div class="wc-col wc-col-6-tablet">
                <a href="/" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <p>
                        “Chancen, Nutzen und Probleme der Navigation in der dentalen Implantologie”, Weihe S., Kruse Ch., Franz E.P., Joachim S., Bonitz L., Hassfeld S. - Digital_Dental.News; 1.Jg.; April 2007;pp. 96-102
                    </p>
                    <div class="wc-flex wc-flex-center wc-m-top-2 wc-color-primary">
                        <span>Hier Downloaden</span>
                        <img class="wc-m-left-1-2 arrow-icon wc-color-primary" src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>