<section class="contact-section">
    <div class="wc-container content">
        <div class="error-container">
        Please fill all required fields.
        </div>
        <div class="wc-flex-container-desktop">
        <div class="contact-form-container">
            <div class="contact-form">
            <form class="contact-form-element" novalidate>
                <div class="wc-flex-container wc-flex-between">
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="name">
                            Name <span class="required">*</span>
                        </label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="vorname">
                            Vorname <span class="required">*</span>
                        </label>
                        <input type="text" id="vorname" name="vorname" required>
                    </div>
                </div>
                <div class="wc-flex-container wc-flex-between">
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="email">
                            Mailadresse <span class="required">*</span>
                        </label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-field wc-flex-1 wc-m-top-1">
                        <label for="mobile-number">
                            Mobil No <span class="required">*</span>
                        </label>
                        <input type="text" id="mobile-number" name="mobile-number" required>
                    </div>
                </div>
                <div class="wc-flex-container wc-m-top-1">
                    <div class="wc-flex-1">
                        <label for="inquiry">
                            Anfrage <span class="required">*</span>
                        </label>
                        <textarea type="text" id="inquiry" name="inquiry" required></textarea>
                    </div>
                </div>
                <label class="wc-m-top-1">
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>
                    <a href="/gdpr">GDPR</a>
                    </span>
                </label>
                </form>
                <p class="wc-m-top-1">Mit <span class="required">*</span> gekennzeichnete Felder sind Pflichtfelder.</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="content-center contact-end-section">
    <div class="wc-container content">
        <p class="wc-m-top-1">
        Ihre Anfrage ist unverbindlich und Ihre persönlichen Daten werden streng vertraulich behandelt.
        Wir schützen Ihre Privatsphäre: Datenschutzerklärung
        </p>
        <div class="wc-flex-container wc-flex-center wc-flex-jfy-center">
        <div class="wc-flex-container wc-flex-center">
            <button class="wc-btn primary contact-form-submit">ANFRAGE ABSENDEN</button>
            <button class="wc-btn secondary outlined">ANFRAGE ABSENDEN</button>
        </div>
        </div>
        <p class="wc-m-top-1">
        Falls Sie uns eine Datei (z.B. .doc, .pdf, .xls) mitsenden möchten, nutzen Sie die bitte die Upload-Funktion. Je mehr Informationen desto  besser können wir Ihnen helfen.
        </p>
    </div>
</section>