<section class="header-center">
    <div class="wc-container content">
        <h2>Zahnersatz</h2>
    </div>
    <div class="wc-card">
        <div class="wc-flex wc-flex-col wc-flex-between service-wc-card-container">
            <div>
                <img class="wc-card-icon" src="/img/tooth-screw.svg" />
                <h3 class="wc-card-title">Zahnimplantat</h3>
                <p class="wc-card-description">
                    Künstliche Zahnwurzeln  machen es möglich, vorhandene Zahnlücken mit einem natürlich aussehenden Implantat Zahnersatz zu schliessen
                </p>
            </div>
            <a class="wc-card-end" href="/diagnostics">
                <span>Lesen Sie hier mehr</span>
                <img src="/img/arrow-right.svg" />
            </a>
        </div>
    </div>
    <div class="wc-card">
        <div class="wc-flex wc-flex-col wc-flex-between service-wc-card-container">
            <div>
                <img class="wc-card-icon" src="/img/tooth-screw.svg" />
                <h3 class="wc-card-title">Zahnimplantat</h3>
                <p class="wc-card-description">
                    Künstliche Zahnwurzeln  machen es möglich, vorhandene Zahnlücken mit einem natürlich aussehenden Implantat Zahnersatz zu schliessen
                </p>
            </div>
            <a class="wc-card-end" href="/diagnostics">
                <span>Lesen Sie hier mehr</span>
                <img src="/img/arrow-right.svg" />
            </a>
        </div>
    </div>
    <div class="wc-card">
        <div class="wc-flex wc-flex-col wc-flex-between service-wc-card-container">
            <div>
                <img class="wc-card-icon" src="/img/tooth-screw.svg" />
                <h3 class="wc-card-title">Zahnimplantat</h3>
                <p class="wc-card-description">
                    Künstliche Zahnwurzeln  machen es möglich, vorhandene Zahnlücken mit einem natürlich aussehenden Implantat Zahnersatz zu schliessen
                </p>
            </div>
            <a class="wc-card-end" href="/diagnostics">
                <span>Lesen Sie hier mehr</span>
                <img src="/img/arrow-right.svg" />
            </a>
        </div>
    </div>
</section>