<section class="content">
    <div class="wc-container">
        <p>
            Mehr als die Hälfte aller Menschen haben Funktionsstörungen im Kausystem (Fachbegriff: CMD = cranio mandibuläre Dysfunktion) multifaktorieller Genese. Die **Ursachen **von einer Craniomandibulären Dysfunktion sind vielfältig: angeborene Abweichungen der anatomischen Ausbildung von Kieferknochen, Kiefergelenken oder Zähnen, nicht optimal durchgeführte Massnahmen den Biss zu erneuern, der falsche Zusammenbiss.
        </p>
        <p>
            Mehr als die Hälfte aller Menschen haben Funktionsstörungen im Kausystem (Fachbegriff: CMD = cranio mandibuläre Dysfunktion) multifaktorieller Genese. Die **Ursachen **von einer Craniomandibulären Dysfunktion sind vielfältig: angeborene Abweichungen der anatomischen Ausbildung von Kieferknochen, Kiefergelenken oder Zähnen, nicht optimal durchgeführte Massnahmen den Biss zu erneuern, der falsche Zusammenbiss.
        </p>
        <ul>
            <li>Zähne Knirschen (Bruxismus)</li>
            <li>Zähne Knirschen (Bruxismus)</li>
            <li>Zähne Knirschen (Bruxismus)</li>
            <li>Zähne Knirschen (Bruxismus)</li>
        </ul>
        <p>
            Mehr als die Hälfte aller Menschen haben Funktionsstörungen im Kausystem (Fachbegriff: CMD = cranio mandibuläre Dysfunktion) multifaktorieller Genese. Die **Ursachen **von einer Craniomandibulären Dysfunktion sind vielfältig: angeborene Abweichungen der anatomischen Ausbildung von Kieferknochen, Kiefergelenken oder Zähnen, nicht optimal durchgeführte Massnahmen den Biss zu erneuern, der falsche Zusammenbiss.
        </p>
    </div>
</section>