<section class="content-center">
    <div class="wc-container wc-container-small content">
        <h2>
            Machen Sie nur 4 Schritte zu neuen, schönen und gesunden Zähnen.
        </h2>
        <div class="wc-columns wc-flex-wrap">
            <div class="wc-col wc-col-6-tablet">
                <a href="/steps2" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <div>
                        <img class="wc-card-icon" src="/img/question.svg" />
                        <h3 class="wc-card-title">1. Online Anfrage</h3>
                        <p class="wc-card-description">
                            Seien Sie sehr spezifisch und detailliert bei Ihrer Anfrage, das macht es uns leichter, Ihnen das bestmögliche Angebot zu unterbreiten. Senden Sie uns vorhandene Unterlagen unbedingt mit.
                        </p>
                    </div>
                    <div class="wc-card-end">
                        <span>Lesen Sie hier mehr</span>
                        <img src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>

            <div class="wc-col wc-col-6-tablet">
                <a href="/steps2" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <div>
                        <img class="wc-card-icon" src="/img/question.svg" />
                        <h3 class="wc-card-title">1. Online Anfrage</h3>
                        <p class="wc-card-description">
                            Seien Sie sehr spezifisch und detailliert bei Ihrer Anfrage, das macht es uns leichter, Ihnen das bestmögliche Angebot zu unterbreiten. Senden Sie uns vorhandene Unterlagen unbedingt mit.
                        </p>
                    </div>
                    <div class="wc-card-end">
                        <span>Lesen Sie hier mehr</span>
                        <img src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>

            <div class="wc-col wc-col-6-tablet">
                <a href="/steps2" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <div>
                        <img class="wc-card-icon" src="/img/question.svg" />
                        <h3 class="wc-card-title">1. Online Anfrage</h3>
                        <p class="wc-card-description">
                            Seien Sie sehr spezifisch und detailliert bei Ihrer Anfrage, das macht es uns leichter, Ihnen das bestmögliche Angebot zu unterbreiten. Senden Sie uns vorhandene Unterlagen unbedingt mit.
                        </p>
                    </div>
                    <div class="wc-card-end">
                        <span>Lesen Sie hier mehr</span>
                        <img src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>

            <div class="wc-col wc-col-6-tablet">
                <a href="/steps2" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <div>
                        <img class="wc-card-icon" src="/img/question.svg" />
                        <h3 class="wc-card-title">1. Online Anfrage</h3>
                        <p class="wc-card-description">
                            Seien Sie sehr spezifisch und detailliert bei Ihrer Anfrage, das macht es uns leichter, Ihnen das bestmögliche Angebot zu unterbreiten. Senden Sie uns vorhandene Unterlagen unbedingt mit.
                        </p>
                    </div>
                    <div class="wc-card-end">
                        <span>Lesen Sie hier mehr</span>
                        <img src="/img/arrow-right.svg" />
                    </div>
                </a>
            </div>
        </div>
        <a class="wc-btn primary" href="/contact">Los geht´s</a>
    </div>
</section>
<section class="wc-display-mobile">
    <div class="wc-container">
        <h2 class="wc-text-center">
            Kostengünstig und so einfach zu neuen weissen Zähnen
        </h2>
        <p class="wc-m-top-1">
            WHITE ist eine deutschsprachige Plattform für die Vermittlung von hochwertigen, medizinischen und zahnmedizinischen Dienstleistungen im Ausland. Wir bieten Ihnen den Zugang zu Zahnärzten und Ärzten im ausländischen Gesundheitssystem, welche wir bedürfnisgerecht und sorgfältig für Sie auswählen und vorab nach schweizer Qualitätsstandards kontrollieren. Wir haben Mitarbeiter, die Sie gerne im Ausland zur Behandlung begleiten und Hilfestellung geben, sollten Sie das wünschen oder wir das für notwendig befinden. Ganz egal also ob Sie Zahnimplantate, Zahnprothesen, Veneers, Zahnkronen oder Brücken zu einem kostengünstigen Preis suchen, WHITE findet in nahezu allen Fällen die passenden Behandler für Sie. Fragen Sie im 1. Schritt Ihr unverbindliches Angebot an.
        </p>
        <a class="wc-btn secondary wc-uppercase outlined wc-m-auto wc-m-top-2" href="/steps2">HIER ZU SCRITT EINS</a>
    </div>
</section>