<section class="content-center">
    <div class="wc-container content">
        <div class="wc-columns wc-flex-wrap wc-flex-center wc-m-top-1">
            <div class="wc-col wc-col-6-tablet wc-col-3-desktop">
                <div class="wc-card card-centered wc-flex wc-flex-col wc-flex-between">
                    <img class="wc-card-icon" src="/img/tooth-dots.svg" />
                    <h2 class="wc-card-title">Veneers</h2>
                    <p  class="wc-card-description wc-color-secondary">-50% des deutschen Preises</p>
                    <p class="wc-card-description">je Sitzung</p>
                    <h4 class="wc-card-big-title">€490</h4>
                    <a class="wc-btn secondary" href="/contact">ANGEBOT ANFORDERN</a>
                </div>
            </div>
            <div class="wc-col wc-col-6-tablet wc-col-3-desktop">
                <div class="wc-card card-centered wc-flex wc-flex-col wc-flex-between">
                    <img class="wc-card-icon" src="/img/tooth-dots.svg" />
                    <h2 class="wc-card-title">Veneers</h2>
                    <p  class="wc-card-description wc-color-secondary">-50% des deutschen Preises</p>
                    <p class="wc-card-description">je Sitzung</p>
                    <h4 class="wc-card-big-title">€490</h4>
                    <a class="wc-btn secondary" href="/contact">ANGEBOT ANFORDERN</a>
                </div>
            </div>
            <div class="wc-col wc-col-6-tablet wc-col-3-desktop">
                <div class="wc-card card-centered wc-flex wc-flex-col wc-flex-between">
                    <img class="wc-card-icon" src="/img/tooth-dots.svg" />
                    <h2 class="wc-card-title">Veneers</h2>
                    <p  class="wc-card-description wc-color-secondary">-50% des deutschen Preises</p>
                    <p class="wc-card-description">je Sitzung</p>
                    <h4 class="wc-card-big-title">€490</h4>
                    <a class="wc-btn secondary" href="/contact">ANGEBOT ANFORDERN</a>
                </div>
            </div>
            <div class="wc-col wc-col-6-tablet wc-col-3-desktop">
                <div class="wc-card card-centered wc-flex wc-flex-col wc-flex-between">
                    <img class="wc-card-icon" src="/img/tooth-dots.svg" />
                    <h2 class="wc-card-title">Veneers</h2>
                    <p  class="wc-card-description wc-color-secondary">-50% des deutschen Preises</p>
                    <p class="wc-card-description">je Sitzung</p>
                    <h4 class="wc-card-big-title">€490</h4>
                    <a class="wc-btn secondary" href="/contact">ANGEBOT ANFORDERN</a>
                </div>
            </div>
        </div>
        <a class="wc-btn secondary-light outlined" href="/pricing-calculator">Vollständige Preistabelle</a>
    </div>
</section>
<section>
    <div class="wc-container content">
        <p class="wc-m-top-2">
        Die Patientenmobilitätsrichtlinie gilt für Patienten der gesetzlichen Krankenversicherung.
Die Kosten für die Auslandsbehandlung werden von der Krankenkasse bis zu der Höhe erstattet, die auch für eine vergleichbare Behandlung im Versicherungsstaat übenommen worden wären – abzüglich eines Verwaltungskostenabschlags.
        </p>
        <p class="wc-m-top-2">
        Trotz das eine vorherige Genehmigung der Krankenkasse nur für Krankenhausbehandlungen im EU-Ausland notwendig ist, empfiehlt es sich auch bei geplanten ambulanten Behandlungen eine vorherige Erkundigung bei der Krankenkasse zur Erstattung einzuholen. Das gilt insbesondere für das Kostenerstattungsprinzip.
        </p>
        <p class="wc-m-top-2">
        Für Patienten der privaten Krankenversicherer sowie Beihilfestellen gilt die Patientenmobilitätsrichtlinie ebenfalls. Allerdings haben Sonderregelungen vorrang, die für die Abrechnung grenzüberschreitender Behandlungen vorsehen.
        </p>
        <a class="wc-btn secondary-light outlined wc-m-auto" href="/contact">Fragen Sie jetzt hier Ihr individuelles Angebot an</a>
        <p class="wc-m-top-2 bold">
        Weitere Informationen finden Sie auch unter:
        </p>
        <div>
        <a href="/" rel="nofollow">www.betanet.de</a>
        </div>
        <div>
        <a href="/" rel="nofollow">www.betanet.de</a>
        </div>
        <div>
        <a href="/" rel="nofollow">www.betanet.de</a>
        </div>
        <div>
        <a href="/" rel="nofollow">www.betanet.de</a>
        </div>
        <div>
        <a href="/" rel="nofollow">www.betanet.de</a>
        </div>
    </div>
</section>