<div class="wc-container">
    <h2>
        {{ .Title }}
    </h2>
    <p class="wc-text-center wc-m-top-2">{{ .Params.description }}</p>
    <div class="wc-columns wc-flex-wrap wc-m-top-2">
        {{ $scratch := newScratch }}
        {{ $scratch.Set "col-class" "wc-col-6-tablet wc-col-3-desktop" }}
        {{ if isset .Params "colclass" }}
            {{ $scratch.Set "col-class" .Params.colclass }}
        {{ end }}
        {{ $colClass := $scratch.Get "col-class" }}
        {{ range .Params.Items }}
            <div class="wc-col {{ $colClass }}">
                <a href="/" class="wc-card wc-flex wc-flex-col wc-flex-between">
                    <div>
                        {{ with .icon }}
                        <img class="icon-image" src="/img/{{ . }}" />
                        {{ end }}
                        {{ with .title }}
                            <h4 class="wc-m-top-1">{{ . }}</h4>
                        {{ end }}
                        {{ with .description }}
                            <p class="wc-m-top-1">
                                {{ . }}
                            </p>
                        {{ end }}
                    </div>
                    <div class="wc-flex wc-flex-center wc-m-top-2 wc-color-secondary">
                        {{ with .linkText }}
                            <span>{{ . }}</span>
                            <img class="wc-m-left-1-2 arrow-icon wc-color-secondary" src="/img/arrow-right.svg" />
                        {{ end }}

                    </div>
                </a>
            </div>
        {{ end }}
    </div>
    {{ if isset .Params "link" }}
        {{ partial "link-button.html" (dict "link" .Params.link "Site" .Site "class" .Params.link.class) }}
    {{ end }}
</div>
