<nav>
  <div class="wc-container">
    <a class="wc-logo" href="/">
      <img title="white care logo" src="/_nuxt/img/whitecare-logo.16fe290.svg" />
    </a>
    <div class="mc-hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="wc-navbar">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight.Reverse }}
      <li>
        <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
